@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --user-font: Arial, sans-serif; /* Default fallback */ 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--user-font);
}

/* If you have specific card components, you can style them like this: */
.card {
  font-family: var(--card-font);
}
